@{
  Layout = "_Layout";
}

<h1>Welcome to General Hospital's Database!</h1>
<hr />

<h4>Follow one of these links to access Doctor or Patient info:</h4>
<p>@Html.ActionLink("Manage Doctors", "Index", "Doctors")</p>
<p>@Html.ActionLink("Manage Patiens", "Index", "Patients")</p> 