@{
  Layout = "_Layout";
}

@model DoctorPatient.Models.Patient

<h2>Add a doctor to Patient: @Html.DisplayFor(model => model.Name)</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.PatientId)

  @Html.Label("Select Doctor")
  @Html.DropDownList("DoctorId")

  <input type="submit" value="Save doctor for patient" />
}